<% content_for(:html_title) { 'Phones - Pro Phones' } %>
<% if notice %>
  <aside id= "notice" > <%= notice %> </aside>
<% end %>

<h1>All Available Phones</h1>

<table>
  <tfoot>
    <tr>
      <td colspan= "3" >
        <p class = 'txt_btn'> <%= link_to 'New phone' , new_phone_path %> </p>
      </td>
    </tr>
  </tfoot>

<tbody>
  <% @phones.each do |phone| %>
      
    <td class= "image" >
      <%= image_tag(phone.image_url, class: 'list_image' ) %>
    </td>
    
    <td class= "specifications" >
      <h1> <%= phone.brand %> <%= phone.model %> </h1>
      <p> <%= strip_tags(phone.specifications) %> </p>
    </td>
    
    <td class= "actions" >
      <ul>
        <li class = 'txt_btn'> <%= link_to 'Show' , phone %> </li>
        <li class = 'txt_btn'> <%= link_to 'Edit' , edit_phone_path(phone) %> </li>
        <li class = 'txt_btn'> <%= link_to 'Destroy' , phone, method: :delete , data: { confirm: 'Are you sure?' } %>
        </li>
      </ul>
    </td>
  </tr>
  <% end %>
</tbody>
</table>

