<% content_for(:html_title) { 'Phone Info - Pro Phones' } %>
<h1><%= t('.title') %></h1>
<p>
  <strong><%= t('.brand') %></strong>
  <%= @phone.brand %>
</p>

<p>
  <strong><%= t('.model') %></strong>
  <%= @phone.model %>
</p>

<p>
  <strong><%= t('.size') %></strong>
  <%= @phone.size %>
</p>

<p>
  <strong><%= t('.colour') %></strong>
  <%= @phone.colour %>
</p>

<p>
  <strong><%= t('.specs') %></strong>
  <%= @phone.specifications %>
</p>

<p>
  <strong><%= t('.img') %></strong>
  <%= @phone.image_url %>
</p>

<p>
  <strong><%= t('.price') %></strong>
  <%= @phone.price %>
</p>

<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
