<% content_for(:html_title) { 'Phone Info - Pro Phones' } %>
<%# <p id="notice"><%= notice %></p>
<p>
  <strong>Phone Brand:</strong>
  <%= @phone.brand %>
</p>

<p>
  <strong>Phone Model:</strong>
  <%= @phone.model %>
</p>

<p>
  <strong>Phone Size:</strong>
  <%= @phone.size %>
</p>

<p>
  <strong>Phone Colour:</strong>
  <%= @phone.colour %>
</p>

<p>
  <strong>Phone Specifications:</strong>
  <%= @phone.specifications %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @phone.image_url %>
</p>

<p>
  <strong>Phone Price:</strong>
  <%= @phone.price %>
</p>

<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
