
<section class="default_form">
  <% if flash[:alert] %>
    <aside class="notice"><%= flash[:alert] %></aside>
  <% end %>

  <%= form_tag do %>
    <h1>Please Log In</h1>
    <div class="field">
      <%= label_tag :name, 'Name:' %>
      <%= text_field_tag :name, params[:name], placeholder: 'Username' %>
    </div>

    <div class="field">
      <%= label_tag :password, 'Password:' %>
      <%= password_field_tag :password, params[:password], placeholder: 'Password' %>
    </div>

    <%= submit_tag "Login" %>
  <% end %>
</section>
