<% content_for(:html_title) { 'Admin - Pro Phones' } %>

<h1><%= t('.title') %></h1>
<h3><%= t('.total') %> <%= Time.now.to_formatted_s(:long_ordinal) %> is <%= @total_orders %>.</h3><br>

<table class = "admin_table">
    <tr>
        <th><h3><strong><%= t('.phones') %><strong></h3></th>
        <th><%= link_to 'Phones', phones_path, {class: "default_btn admin_btn"} %></th>
    </tr>
    <tr>
        <th><h3><strong><%= t('.orders') %></strong></h3></th>
        <th><%= link_to 'Orders', orders_path, {class: "default_btn admin_btn"} %></th>
    </tr>
    <tr>
        <th><h3><strong><%= t('.users') %><strong></h3></th>
        <th><%= link_to 'Users', users_path, {class: "default_btn admin_btn"} %></th>
    </tr>
    <tr>
        <th><h3><strong><%= t('.logout') %><strong></h3></th>
        <th><%= button_to 'Logout', logout_path, method: :delete, data: { confirm: "Are you sure?" }, class: "default_btn admin_btn" %></th>
    </tr>
</table>