<h1><%= t('.title') %></h1>
<h3><%= t('.name') %><%= @name %>, </h3>
<h3><%= t('.email') %><%= @email %>,  </h3>
<h3><%= t('.phone') %><%= @phone %>,  </h3>
<h3><%= t('.message') %><%= @message %> </h3>

