<h2><%= t('.title') %></h2>
<p>
  <b> <%= t('.hello') %> <%= @order.name %>, </b>
  <blockquote><br><%= t('.message') %> </blockquote>
</p>

<table class = "order_table">
  <tr>
    <th colspan="2"><%= t('.quantity') %></th>
    <th><%= t('.phone') %></th>
  </tr>
<%= render @order.line_items -%>

<p>
  <blockquote><br>  <%= t('.dispatched') %>
              <br>  <%= t('.delivery') %> <%= Date.today + 1.week %>. </blockquote>
</p>

</table>