<% content_for(:html_title) { 'Store - Pro Phones' } %>

<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h1>Our Phone Range</h1>
<ul class="catalog">
  <% cache @phones do %>
    <% @phones.each do |phone| %>
      <% cache phone do %>
        <li>
          <%= image_tag(phone.image_url) %>
          <h2><%= phone.brand %> <%= phone.model %></h2>
          <p>
            <%= sanitize(phone.specifications) %>
          </p>
          <div class="price">
            <%= number_to_currency(phone.price, :unit =>"£") %>
            <%= button_to 'Add to Cart', line_items_path(phone_id: phone), remote: true %>
          </div>
        </li>
      <% end %> 
    <% end %>
  <% end %>
</ul>