<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:html_title) ? yield(:html_title) : "Pro Phones" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%# Javascript and CSS for the homepage image slideshow %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <%= favicon_link_tag asset_path('logo.png') %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <nav class="top_nav">

        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/store">Phones</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/admin">Admin</a></li>
        </ul>

    </nav>

    

    <section class="content">
      

    <main class='<%= controller.controller_name %>'>
      <%= yield %>
    </main>
    
     <%# Renders the cart on the side when it's not empty %>
    <% if @cart %>
      <div id="cart" class="carts">
        <%= render_if @cart && @cart.line_items.any?, @cart %>
      </div>
    <% end %>

    </section>

   

    <%= render "layouts/footer" %>
  </body>
</html>
