<!DOCTYPE html>
<html>
  <head>
    <title>Pro Phones</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="main">
      <%# <%= image_tag 'logo.jpg', alt: 'ProPhones' %>
      <h1><%= @page_title %></h1>
    </header>
    
    <section class="content">
    <nav class="side_nav">
    <%# Renders the cart on the side when it's not empty %>
      <% if @cart %>
        <div id="cart" class="carts">
          <%= render_if @cart && @cart.line_items.any?, @cart %>
        </div>
      <% end %>

      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/questions">Products</a></li>
        <li><a href="/news">Contact</a></li>
        <li><a href="/contact">Cart</a></li>
        <li><a href="/contact">Sign In</a></li>
      </ul>
    </nav>
  
    <main class='<%= controller.controller_name %>'>
      <%= yield %>
    </main>

    </section>
  </body>
</html>
